// colors
$colors: (
  // shades
  --global: (
    // shade - value
    -white: #fff,
    -light-grey: #eef2fe,
    -grey: #777882,
    -black: #000,
  ),
  // shades
  --primary: (
    // shade - value
    -100: #93b7ff,
    -200: #2662ed,
    -300: #1d3c87,
    
  ),
);